.butt{

    position: absolute;
    right: 160px;

}

.butt2{

    position: absolute;
    right: 230px;
    margin-right: 85px;
}
.butt {
    text-decoration: none;
}
.backgrond {
    height: 150vh;
    background-image: url("../img/1.png");
    background-size: 1500px;

}
#zah {
    width: 700px;
    height: 240px;
    position: absolute;
    top:180px;
    left: 202px;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
}

.par {
    position: absolute;
    top:440px;
    left: 202px;
}
.btnd{
    position: absolute;
    top:520px;
    left: 202px;
}
#chislo {
    position: absolute;
    top:640px;
    left: 192px;
    font-weight: 700;
    font-size: 22px;
}
#chislo_text{
    position: absolute;
    top:635px;
    left: 252px;
    font-weight: 400;
    font-size: 14px;

}
.height {
    height: 31px;
    border: 1px solid #0B0B0B;
    position: absolute;
    top:10px;
    left: 100px;
    opacity: 0.3;

}
#dollar {
    position: absolute;
    top:640px;
    left: 390px;
    font-weight: 700;
    font-size: 22px;
}
#text2{
    position: absolute;
    top:635px;
    left: 460px;
    font-weight: 400;
    font-size: 14px;
}
.marg{
    margin-left: 20px;
}
.right {
    margin-left: 50px;
}